body {
    margin: 0px;
    padding: 0px;
}

div {
    /* background: #D2EBFF; */
    /*border: 1px solid black;*/
    margin: 10px auto;
}

a {
    text-decoration: none;
    color: black;
}

.banner {
    height: 228px;
    width: 1200px;
    background: white;
}
/*导航栏*/
/*通栏布局*/

#navbar {
    background-color: #AE081C;
}

.nav {
    height: 50px;
    width: 1200px;
    background: #AE081C;
    /*background-color: #D2ebff;*/
}

.nav_wz {
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: white;
    height: 50px;
    width: 100px;
    float: left;
    margin: 0 50px 0 0;
    list-style-type: none;
    /*border: 1px solid black*/
}

.nav a {
    color: white;
}

.nav :hover {
    color: #FFF800;
}
/*下拉式菜单*/

.nav ul li {
    list-style-type: none;
    width: 85px;
}

.nav ul li ol {
    padding: 0px;
    display: none;
    background-color: grey;
    text-align: center;
    font-size: 15px;
}

.nav ul li li a {
    display: block;
    width: 85px;
    height: 50px;
}

.nav ul li:hover ol {
    display: block;
}

.nav ul li ol li:hover {
    background: #AE081C;
}

.content {
    height: 820px;
    width: 1200px;
    margin: 0px auto;
    /*border: 1px solid black;*/
}

ul {
    padding: 0px;
    margin: 0px auto;
    /*border: 1px solid black;*/
    position: relative;
}


.footer {
    height: 114px;
    width: 100%;
    border-top: 5px solid red;
}

.links {
    padding: 40px;
}


#headlind{
    width: 1200px;
    height: 200px;
    /*background-color: #aac2ee;*/
    font-size: 25px;
    text-align: center;
    line-height: 200px;
    border-bottom: 1px dashed;
}

html,body{margin:0;padding:0;}
.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}

